## Assignment 05  ðŸš—ðŸš—ðŸš—

**Aim:**  Implement a Random Forest Classifier model to predict car safety. ([Dataset Link](https://www.kaggle.com/datasets/elikplim/car-evaluation-data-set))

**Student:** Kanaka Amin 
**Class:** BE | **Roll No:** 42501

In [42]:
!pip install category_encoders

Requirement already satisfied: category_encoders in c:\users\hp\anaconda3\lib\site-packages (2.6.4)
Requirement already satisfied: scipy>=1.0.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.7.1)
Requirement already satisfied: pandas>=1.0.5 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.3.4)
Requirement already satisfied: patsy>=0.5.1 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: numpy>=1.14.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (1.20.3)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\users\hp\anaconda3\lib\site-packages (from category_encoders) (0.24.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.0)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\hp\anaconda3\lib\site-packages)

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score


import category_encoders as ce

In [24]:
df = pd.read_csv("D:\BE\ML\Lab\Datasets\car_evaluation.csv")

In [4]:
df.shape

(1727, 7)

In [5]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [6]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

In [9]:
df.columns = col_names

In [10]:
df.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [13]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class']

for col in col_names:
    print(df[col].value_counts())

high     432
med      432
low      432
vhigh    431
Name: buying, dtype: int64
high     432
med      432
low      432
vhigh    431
Name: maint, dtype: int64
3        432
4        432
5more    432
2        431
Name: doors, dtype: int64
4       576
more    576
2       575
Name: persons, dtype: int64
med      576
big      576
small    575
Name: lug_boot, dtype: int64
med     576
high    576
low     575
Name: safety, dtype: int64
unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [15]:
#target variable
df['class'].value_counts()

unacc    1209
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [16]:
df.isnull().sum()

buying      0
maint       0
doors       0
persons     0
lug_boot    0
safety      0
class       0
dtype: int64

In [17]:
X = df.drop(['class'], axis=1)

y = df['class']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [20]:
X_train.shape, X_test.shape

((1157, 6), (570, 6))

## Feature Engineering

In [21]:
X_train.dtypes

buying      object
maint       object
doors       object
persons     object
lug_boot    object
safety      object
dtype: object

## Encoding Categorical variabels

In [22]:
X_train.head()

     buying  maint  doors persons lug_boot safety
83    vhigh  vhigh  5more       2      med    low
48    vhigh  vhigh      3    more      med    med
468    high  vhigh      3       4    small    med
155   vhigh   high      3    more      med    low
1043    med   high      4    more    small    low

> The variables are oridinal cateigorical data type

In [28]:
encoder = ce.OrdinalEncoder(cols=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])

In [29]:
X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [30]:
X_train.head()

      buying  maint  doors  persons  lug_boot  safety
83         1      1      1        1         1       1
48         1      1      2        2         1       2
468        2      1      2        3         2       2
155        1      2      2        2         1       1
1043       3      2      3        2         2       1

In [31]:
X_test.head()

      buying  maint  doors  persons  lug_boot  safety
599        2      2      3        1         3       1
932        3      1      3        3         3       1
628        2      2      1        1         3       3
1497       4      2      1        3         1       2
1262       3      4      3        2         1       1

In [32]:
rfc = RandomForestClassifier(random_state=0)

In [33]:
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=0)

In [34]:
#predictions
y_pred = rfc.predict(X_test)

In [35]:
print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with 10 decision-trees : 0.9649

> Here, building this random forest classifier with 10 decision trees, n_estimators = 10. ðŸŒ³ðŸŒ³ðŸŒ³

The increase in decision tree, the effect of accuracy should also be increasing.

In [37]:
rfc_50 = RandomForestClassifier(n_estimators=50, random_state=0)
rfc_50.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50, random_state=0)

In [38]:
y_pred_50 = rfc_50.predict(X_test)

In [40]:
print('Model accuracy score with 100 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred_50)))

Model accuracy score with 100 decision-trees : 0.9667