<a href="https://colab.research.google.com/github/Kanak-a/sem7/blob/main/dmv_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment No : 03

## Aim : Analyzing Customer Churn in a Telecommunications Company


*Name: Kanaka Amin | Class : BE | Roll No : 42501*

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [ ]:
data = pd.read_csv('/content/tele_com.csv')

In [ ]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,NaN,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,NaN,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber opticalal,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [ ]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        14 non-null     object
 1   gender            14 non-null     object
 2   SeniorCitizen     14 non-null     int64
 3   Partner           14 non-null     object
 4   Dependents        14 non-null     object
 5   tenure            14 non-null     int64
 6   PhoneService      14 non-null     object
 7   MultipleLines     11 non-null     object
 8   InternetService   14 non-null     object
 9   OnlineSecurity    14 non-null     object
 10  OnlineBackup      14 non-null     object
 11  DeviceProtection  14 non-null     object
 12  TechSupport       14 non-null     object
 13  StreamingTV       14 non-null     object
 14  StreamingMovies   14 non-null     object
 15  Contract          14 non-null     object
 16  PaperlessBilling  14 non-null     object
 17  PaymentMethod     14 non-null     object
 18  MonthlyCharges    14 non-null     float64
 19  TotalCharges      14 non-null     float64
 20  Churn             14 non-null     object
dtypes: float64(2), int64(2), object(17)
memory usage: 2.4+ KB
None
       SeniorCitizen     tenure  MonthlyCharges  TotalCharges
count           14.0  14.000000       14.000000     14.000000
mean             0.0  25.000000       64.717857   1804.096429
std              0.0  21.314495       30.066705   1871.390099
min              0.0   1.000000       18.950000     29.850000
25%              0.0   8.500000       44.212500    308.125000
50%              0.0  19.000000       56.550000   1330.625000
75%              0.0  42.250000       97.012500   2771.887500
max              0.0  62.000000      104.800000   5681.100000

In [ ]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       3
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
data.dropna(inplace=True)

In [ ]:
# 4. Remove duplicate records
data.drop_duplicates(inplace=True)

In [ ]:
if 'Churn' in data.columns:
    data['Churn'] = data['Churn'].replace({'Yes': 1, 'No': 0})

<ipython-input-9-408ad98544ab>:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Churn'] = data['Churn'].replace({'Yes': 1, 'No': 0})

In [ ]:
# 6. Convert columns to correct data types
data['TotalCharges'] = pd.to_numeric(data['TotalCharges'], errors='coerce')
data['SeniorCitizen'] = data['SeniorCitizen'].astype('category')

In [ ]:
# 7. Identify and handle outliers (example using 'tenure' column)
q1 = data['tenure'].quantile(0.25)
q3 = data['tenure'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr
data = data[(data['tenure'] >= lower_bound) & (data['tenure'] <= upper_bound)]

In [ ]:
if 'MonthlyCharges' in data.columns and 'tenure' in data.columns:
    data['MonthlyRevenue'] = data['TotalCharges'] / data['tenure']

In [ ]:
scaler = StandardScaler()
numerical_features = ['tenure', 'MonthlyCharges', 'TotalCharges']
data[numerical_features] = scaler.fit_transform(data[numerical_features])

In [ ]:
X = data.drop('Churn', axis=1)
y = data['Churn']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 11. Export the cleaned dataset
data.to_csv('Cleaned_Telecom_Customer_Churn.csv', index=False)

print("Data cleaning and preparation completed successfully.")

Data cleaning and preparation completed successfully.